<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- C3P0 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	<property name="driverClass" value="com.mysql.jdbc.Driver"/>
	<property name="jdbcUrl" value="jdbc:mysql:///studb?useUnicode=true&amp;characterEncoding=UTF-8"/>
	<property name="user" value="root"/>
	<property name="password" value="123456"/>
	</bean>
	
	<!-- spring整合hibernate后的工厂 -->
	<bean id="sessionFactory"
	class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
	>
	<!-- 加载连接池 -->
	<property name="dataSource" ref="dataSource"></property>
	<!-- 方言和可选 -->
	<property name="hibernateProperties">
	<props>
	<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
	<prop key="hibernate.show_sql">true</prop>
	<prop key="hibernate.format_sql">true</prop>
	<prop key="hibernate.hbm2ddl.auto">update</prop>
	</props>
	</property>
	<!-- 引用映射文件 -->
	<property name="mappingResources">
		<list>
			<value>com/entity/User.hbm.xml</value>
		</list>
	</property>
	</bean>
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager"> 
		<!-- 注入数据源 -->
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 开启事务的注解 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<bean id="userDao" class="com.dao.impl.UserDaoImpl">
	<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userService" class="com.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<!-- 配置action的多例模式 scop=“prototype” -->
	<bean id="userAction" class="com.struts.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="showUserAction" class="com.struts.showUserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	</beans>